<%= link_to 'Create card', new_card_path %>
<br/>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Number</td>
      <td>Name</td>
      <td>Show Balance</td>
    </tr>
  </thead>
  <% @cards.each_with_index do |card, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= card.card_number %></td>
      <td><%= card.name %></td>
      <td><%= link_to 'Show balance', card_path(card.id) %></td>
      <td><%= link_to 'Pay', new_card_transaction_path(card.id) %></td>
    </tr>
  <% end %>
</table>
