<%= form_with model: @transaction, url: card_transactions_path(@card.id), method: :post do |f| %>
<%= render 'shared/errors', object: @transaction %>

  <div>
    <%= f.label :amount %><br>
    <%= f.number_field :amount, required: true %>
  </div>

  <%= f.submit :pay %>
<% end %>
